{% extends "base.html" %}

{% block body %}
    <h1>編集</h1>

    <form method="post">
        {% csrf_token %}
        <table class="table">
            {{ form }}
        </table>
    
        <button class="btn btn-primary" type="submit">
            保存
        </button>
    </form>
{% endblock %}